<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <nav class="navbar navbar-default" style="background-color:white">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Pricintool</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("News", "News", "Home")</li>
                <li>@Html.ActionLink("Pricing", "Index", "Pricing")</li>
            </ul>
        </div>
    </nav>
    @*<div class="navbar navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            
            </div>
            <div style="color:darkgrey" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @* <li>@Html.ActionLink("Pricing", "Index", "Pricing")</li>
                    <li class="nav-item"></li>
       @*             <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
               @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="navbar-fixed-bottom" style="text-align:center; vertical-align:middle; background:#b6ff00;color:#000; height:30px">
        <h5>Report an issue: admin@pricingtool.eu</h5>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

   
</body>
</html>
